<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:amazon="http://schemas.android.com/apk/lib/com.amazon.device.ads"
    id="cordova-plugin-push-notification"
    version="1.0.0">
    <name>Push Notification</name>
    <author>Peter</author>
    <description>
        This plugin allows your application to receive push notifications
    </description>
    <license>MIT</license>

    <js-module src="www/PushNotification.js" name="PushNotification">
        <clobbers target="PushNotification" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <!-- amazon-fireos -->
    <platform name="amazon-fireos">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PushPlugin" >
                <param name="android-package" value="com.amazon.cordova.plugin.PushPlugin"/>
            </feature>
            <preference name="showmessageinnotification" value="true" />
            <preference name="defaultnotificationmessage" value="You have a new message." />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <!-- This permission ensures that no other application can intercept your ADM messages. "[YOUR PACKAGE NAME]" is your package name as defined in your <manifest> tag. -->
            <permission android:name="$PACKAGE_NAME.permission.RECEIVE_ADM_MESSAGE" android:protectionLevel="signature" />
            <uses-permission android:name="$PACKAGE_NAME.permission.RECEIVE_ADM_MESSAGE" />
            <!-- This permission allows your app access to receive push notifications from ADM. -->
            <uses-permission android:name="com.amazon.device.messaging.permission.RECEIVE" />
            <!-- ADM uses WAKE_LOCK to keep the processor from sleeping when a message is received. -->
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!-- You must explicitly enable ADM and declare whether your app cannot work without ADM (android:required="true") or can work without ADM (android:required="false").
                If you specify android:required="false", your app must degrade gracefully if ADM
                is unavailable. -->
            <amazon:enable-feature android:name="com.amazon.device.messaging" android:required="true"/>
            <service android:exported="false" android:name="com.amazon.cordova.plugin.ADMMessageHandler" />
            <activity android:exported="true" android:name="com.amazon.cordova.plugin.ADMHandlerActivity" />
            <receiver android:name="com.amazon.cordova.plugin.ADMMessageHandler$Receiver" android:permission="com.amazon.device.messaging.permission.SEND">
                <intent-filter>
                    <action android:name="com.amazon.device.messaging.intent.REGISTRATION" />
                    <action android:name="com.amazon.device.messaging.intent.RECEIVE" />
                    <category android:name="$PACKAGE_NAME" />
                </intent-filter>
            </receiver>
        </config-file>
        <source-file src="src/amazon/PushPlugin.java" target-dir="src/com/amazon/cordova/plugin" />
        <source-file src="src/amazon/ADMMessageHandler.java" target-dir="src/com/amazon/cordova/plugin" />
        <source-file src="src/amazon/ADMHandlerActivity.java" target-dir="src/com/amazon/cordova/plugin" />
    </platform>
</plugin>
